* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.squaresContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 100vh;
    width: 100vh;
}

.square {
    height: auto;
    width: auto;
    padding: 0px;
    background-color: pink;
    margin: 1px;
}

.colored {
    background-color: peru;
}



/*want to center css grid for any browser/viewport.
*/